<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">List Pegawai</h1>
</div>
<div class="card mt-2" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title"><%= employee.id_pegawai %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= employee.nama %></h6>
    <h6 class="card-subtitle mb-2 text-muted"><%= employee.jabatan %></h6>
  </div>
</div>
<div class="mt-3">
  <a href="/dashboard/admin/" class="card-link mt-2" style="color: #198754">Kembali</a>
</div>
</div>

      
          

