<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Tambah Pegawai</h1>
    </div>

    <% if(typeof errors != "undefined") { %>
        <div class="alert alert-primary" role="alert">
          <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
          <% }) %>
        </div>
        <% } %>

    <div class="mb-3">
        <a href="/dashboard/admin/" class="btn btn-success">Kembali</a>
    </div>
    <!-- Form -->
    <form class="card p-3 shadow-lg" method="post" action="/dashboard/admin">
        <div class="mb-3">
          <label for="id_pegawai" class="form-label">ID</label>
          <input type="text" class="form-control shadow-sm" id="id_pegawai" name="id_pegawai" required />
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control shadow-sm" id="username" name="username" required />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="text" class="form-control shadow-sm" id="password" name="password" required />
        </div>
        <div class="mb-3">
            <label for="nama" class="form-label">Nama</label>
            <input type="text" class="form-control shadow-sm" id="nama" name="nama" required />
        </div>
        <div class="">
            <label for="jabatan" class="form-label">Jabatan</label>
        </div>
        <div class="mb-3">
            <select class="form-select p-1 rounded rounded-2" name="jabatan" aria-label="Default select example" required>
              <option value="" disabled selected>Pilih Jabatan...</option>
              <option name="pegawai" value="asisten">Asisten</option>
              <option name="pegawai" value="programmer">Programmer</option>
            </select>
          </div>
        <button type="submit" class="btn btn-primary">Tambah</button>
    </form>
    <!-- Akhir form -->
</div>